@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  scroll-behavior: smooth;
  line-height: 1.5;
  background-color: hsl(217, 54%, 11%);
  font-family: "Outfit", sans-serif;
}

ul[class],
ol[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.content {
  max-width: 350px;
  padding: 25px;
  background-color: hsl(216, 50%, 16%);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.content-img {
  position: relative;
  width: 300px;
  height: 300px;
  cursor: pointer;
}
.content-img:hover::before, .content-img:hover::after {
  opacity: 1;
  visibility: visible;
}
.content-img img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.content-img::before {
  content: "";
  position: absolute;
  width: 45px;
  height: 45px;
  left: 50%;
  top: 50%;
  z-index: 2;
  background: url("../images/icon-view.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transition: all 0.3s;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.content-img::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 255, 247, 0.4862745098);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.content-body {
  margin: 25px 0;
}
.content-body h2 {
  display: inline-block;
  font-size: 22px;
  margin: 0 0 11px 0;
  color: hsl(0, 0%, 100%);
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  cursor: pointer;
}
.content-body h2:hover {
  color: hsl(178, 100%, 50%);
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.content-body p {
  font-size: 17.8px;
  color: hsl(215, 51%, 70%);
}
.content-count {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 25px 0;
}
.content-count_eth {
  display: flex;
}
.content-count_eth span {
  position: relative;
  color: hsl(178, 100%, 50%);
  font-weight: 600;
  padding: 0 0 0 17px;
}
.content-count_eth span::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-position-y: center;
  left: 0;
  top: 0;
  background-image: url("../images/icon-ethereum.svg");
  background-repeat: no-repeat;
}
.content-count_time {
  display: flex;
}
.content-count_time span {
  position: relative;
  color: hsl(215, 51%, 70%);
  padding: 0 0 0 25px;
}
.content-count_time span::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  background-position-y: center;
  top: 0%;
  background-image: url("../images/icon-clock.svg");
  background-repeat: no-repeat;
}
.content-count::after {
  content: "";
  position: absolute;
  top: 100%;
  width: 100%;
  height: 1px;
  background-color: hsl(215, 32%, 27%);
}
.content-footer {
  display: flex;
  align-items: center;
  padding: 17px 0 0 0;
}
.content-footer img {
  width: 33px;
  height: 33px;
  border: 1px solid hsl(0, 0%, 100%);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.content-footer p {
  padding: 0 0 0 15px;
  color: hsl(0, 0%, 100%);
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  cursor: pointer;
}
.content-footer p:hover {
  color: hsl(178, 100%, 50%);
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.content-footer p span {
  color: hsl(215, 51%, 70%);
}

/*# sourceMappingURL=style.css.map */
